* {
    margin: 0;
    padding: 0;
    color: #F7EBD1;
    background-color: #333333;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    #1st-col {
        h2 {
            color: #F7EBD1;
            border-bottom: 1px solid yellow;
            margin-bottom: 10px;
        }
        #mail-link{
            ul{
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
        #mail-link {
            display: flex;
            flex-direction: column;
        }

        #social-media {
            ul {
                display: flex; 
                li {
                    list-style-type: none;
                }
            }
        }
    }
}