body{
    
}
h1{
    background-color: blue;
    text-indent: 250px;
    color: azure;
    font-family: "poppings", sans-serif;    
}
.p{
    color: rgb(255, 255, 255);
    background-color: aquamarine;
}
#o{
    background-color: aquamarine;
}
