* {
    margin: 0;
    padding: 0;
    color: #F7EBD1;
    background-color: #333333;
}

.main-footer {
    #1st-col {
        h2 {}

        #mail-link {
            display: flex;
            flex-direction: column;
        }

        #social-media {
            ul {
                display: inline;

                li {}
            }
        }
    }
}