
#home_header_selector{
    display: flex;
    justify-content: right;
}
#home-header-logo{
    display: flex;
    justify-content: left;
}
.header_nav ul{
    display: flex;
    justify-content: start;
}
.header_nav li{
    list-style-type: none;
}
a{
    text-decoration: none;
}